<form #form="ngForm" (ngSubmit)="onSubmit(form)">

  <mat-card>
    <mat-form-field>
      <input ngModel #emailvalue="ngModel" email required type="email"
      name="email" matInput placeholder="Email">
       <mat-error *ngIf="emailvalue.hasError('required')">Email is reauires</mat-error>
       <mat-error *ngIf="!emailvalue.hasError('required')">
         Email is invalid
       </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input required type="password" name="password" ngModel
       matInput placeholder="Password">
       <mat-error>Password is reauired</mat-error>

    </mat-form-field>

    <mat-card-actions>
      <button [disabled]="form.invalid" mat-stroked-button color="primary">
        Save
      </button>
    </mat-card-actions>
  </mat-card>
</form>
